{% extends 'main/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <h1>All about this project</h1>
    <br>
    <br>
   <p>
        This Django project was developed by <strong>Joan Maghanoy</strong>
        to show how <br>CRUD (Create, Read, Update, Delete) works for a blog system.
    </p>
    <br>
    <p>
        The goal of this project is to demonstrate how Django simplifies web <br>development by combining powerful backend logic with clean, user-friendly design. <br>It serves as a foundation for learning how modern web applications manage data, user<br> interaction, and dynamic content efficiently.
    </p>
</div>
{% endblock %}